<!-- component -->
<!-- This is an example component -->

	<footer class="p-4 bg-white shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
		<span class="text-sm text-gray-500 sm:text-center dark:text-white">© 2025 <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" class="hover:underline" target="_blank">NoHacerClick™</a>. All Rights Reserved.
    </span>
		<ul class="flex flex-wrap items-center mt-3 sm:mt-0">
			<li>
				<a class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-white" routerLink="/about">About</a>
			</li>
			<li>
				<a href="#" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-white">Privacy
					Policy</a>
			</li>
			<li>
				<a href="#" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-white">Licensing</a>
			</li>
			<li>
				<a href="#" class="text-sm text-gray-500 hover:underline dark:text-white">Contact</a>
			</li>
		</ul>
	</footer>
